*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #f1f1f1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #3366ff;
}

.active {
  background-color: #3366ff;
}


.image_nav{ /*Propriètes de la classe image_nav*/
  display: block;
  height: 40px;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top : 10px;
  margin-bottom : 10px;
  margin-right: 20px;
  border-radius: 50px;
}
body{
  background-image: url("https://i.imgur.com/twilfDm.jpg");
  background-size: cover;
}

.source {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Titre"
    "Contenue"
    "footer";
}

.Titre {
  grid-area: Titre;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  margin-right: 4px;
}

.Contenue {
  grid-area: Contenue;
  border-radius: 10px;
  border-style:solid;
  border-color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-right: 4px;
}

.link{
  text-decoration: none;
  color: #F601E6;
}

.footer{
  margin-top: 15px;
  grid-area: footer;
  border-radius: 10px;
  border-style:solid;
  border-color: rgb(0, 0, 0);
  background-color: rgb(97, 87, 87);
  font-size: 20px;
  margin-right: 4px;
  color : white;
  text-transform: uppercase;
  text-align: center;
}
.copy-left {
  display: inline-block;
  text-align: center;
  margin: 0px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: “FlipH”;
}
.details{
  font-size: 12px;
}
